page-home {

  button[fab].fab-finca {
    top: calc(100% - 35px);
    z-index: 50;
  }

  .right{
    position: relative;
    right: 0px;
    top: 0px;
  }

  .img-finca{   
    box-shadow: 0px 0.5px 10px rgba(0,0,0,0.5);
  }

  ion-card {
    position: relative;
    text-align: left;
    margin: 0;
  }
  ion-grid{
    margin: 0;
  }

  .home-background{
    background-image: url("../assets/img/fondom5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.menu-background{
    background-image: url("../assets/img/wood2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

}

