<!--
  Generated template for the EditFinca page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="background">
	<ion-header>

		<ion-navbar color="bar">
			<ion-title>Editar finca</ion-title>
		</ion-navbar>

	</ion-header>


	<ion-content padding class="transparent">

		<ion-card>
			<ion-card-content>
				<ion-item>
					<ion-label floating>Nombre:</ion-label>
					<ion-input type="text" value="{{data.nombre}}" [(ngModel)]="finca.nombre"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label floating>Dirección:</ion-label>
					<ion-input type="text" value="{{data.direccion}}" [(ngModel)]="finca.direccion"></ion-input>
				</ion-item>
				<br>
				<ion-item *ngIf="photochanged == '0'">
					<ion-header>
						Imagen
					</ion-header>
					<img src="{{data.imagen}}" (click)="imagen()">
				</ion-item>

				<ion-item *ngIf="photochanged == '1'">
					<ion-header>
						Imagen
					</ion-header>
					<img src="{{finca.imagen}}" (click)="imagen()">
				</ion-item>
			</ion-card-content>
		</ion-card>

		<button ion-button class="center" color="add" (click)="save()">
    <ion-icon name="ios-share-outline"></ion-icon>
       &nbsp; Guardar</button>

	</ion-content>
</div>